<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PlaceHolder</title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <h1>Home Page</h1>
      <input type="text" id="txt" />
      <p>Welcome to auth-api. Please <a id="btn-login" class="btn btn-default">Login</a> or
      <a class="btn btn-default">Register</a></p>
    </div> <!-- End Container -->

    <% include partials/scripts.ejs %>
    <script src="javascripts/login.js"></script>
  </body>
</html>
